/* Resume Nav */
.resume-nav {
  margin: 40px auto;
}
.resume-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 1.5rem;
}

.resume-nav a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(146, 182, 254);
  transition: color 0.3s ease;
}
.resume-nav a:hover {
  color: #007acc;
}

/* Accordion */
.accordion {
  margin: 15px auto;
  max-width: 800px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px #e63946;
  background: #181818;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 15px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #e63946;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}
.accordion-header:hover {
  background-color: #d62839;
}
.accordion-header::after {
  content: "▸";
  font-size: 1.2em;
  transition: transform 0.3s ease;
}
.accordion-header.open::after {
  transform: rotate(90deg);
}
.accordion-panel {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.accordion-panel.open {
  opacity: 1;
  padding: 20px;
  margin-bottom: 40px;
}

/* Accordian Headings */
.accordion-panel h4 {
  margin: 0 0 10px;
  font-weight: bold;
  color: #e63946;
}

/* Paragraphs */
.accordion-panel p {
  font-size: 0.9rem;
  color: rgb(146, 182, 254);
  margin-bottom: 10px;
}
